*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
    {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
  
    }

main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto ;
    padding: 20px;
    background-color: black;
    
}

main h1
{
   
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    color: white;

}

main div
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

main div p
{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

main div button
{
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

main div button:hover
{
    color: white;
    background-color: crimson;
    transition: 0.2s;
}


.grid-container
{
    display: flex;
    flex-direction: column;
    margin-block: 4vh;
    align-items: center;

}

.make-container-flex
{
    display: flex;
    margin: 0;
}

.grid-element
{

   border: 1px solid red;
   

}

footer
{
    height: auto;
    padding: 20px;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer p
{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    
}

@media(max-width: 720px) {

    
    main
    {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: auto;
        padding: 10px;
        width: 100vw !important;
    }
    main h1
    {
        font-size: 18px;

    }

    main div p
    {
        font-size: 16px;
    }
    main div button
    {
        font-size: 16px;
        padding: 5px 10px;
    }

    footer
    {
        height: auto;
        padding: 10px;
        width: 100vw !important;
    }

    footer p 
    {
        font-size: 16px;
    }
}